span{
    background-color: #2b3035;
    color: white;
}

.principal-container{
    background-color: black;
    color: white;
}

.result{
    border-radius: 10px;
    font-size: 20px;
    margin: 15px;
    text-align: center;
    color: white;
    background-color: #2b3035;
}

.operation-body{
    height: 350px;
}