<div id="euclides" class="divisor-block"></div>
<div class="container-fluid">
    <div class="d-flex justify-content-center pt-5 pb-4">
        <h2>Algoritmo de Euclides</h2>
    </div>    
    <div class="row justify-content-center pb-5">
        <div class="col-md-10">
            <h4>Instrucciones</h4>
            <p>
                Calcula fácilmente el MCD de un conjunto de números a través del algoritmo de euclides. Al final encontrarás
                el procedimiento de la operación.
            </p>
        </div>
    </div>
    <div class="row justify-content-center pb-5">
        <app-custom-input [description_list]="descriptions" [disabled]="show_result" (values_event)="algorithm($event)"></app-custom-input>
        <div class="col-md-5 d-flex justify-content-center" *ngFor="let table of tables; index as i">
            <div class="table-responsive" *ngIf="show_result">
                <table class="table table-dark table-striped-columns">
                    <tbody>
                        <tr>
                            <td></td>
                            <td *ngFor="let q of quotients[i];">{{q}}</td>
                        </tr>
                        <tr>
                            <td>{{dividends[i]}}</td>
                            <td *ngFor="let n of numbers[i];">{{n}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td *ngFor="let r of remainers[i];">{{r}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="show_result" class="row justify-content-center">
        <div class="col-md-2">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">MCD</span>
                <input type="number" class="form-control" [(ngModel)]="first_result" disabled readonly>
            </div>
        </div>
    </div>
</div>