.principal-container{
    background-color: black;
    color: white;
}

.result{
    border-radius: 10px;
    font-size: 20px;
    margin: 15px;
    text-align: center;
    color: white;
    background-color: #2b3035;
}

.teory-container button{
    height: 40px;
    width: 40px;
}

.teory-container div{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

.operation-body{
    height: 500px;
}