<form #number_form="ngForm">
    <div class="row justify-content-center">
        <div class="col-md-5" *ngFor="let input of inputs; index as i">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Valor {{i+1}}</span>
                <input name="value-{{i}}" *ngIf="!disabled" type="number" class="form-control" [(ngModel)]="values[i]" required min="1" max="9999999">
                <input name="valued-{{i}}" *ngIf="disabled" type="number" class="form-control" [(ngModel)]="values[i]" disabled readonly>
            </div>
        </div>
    </div>
</form>    

<div class="row justify-content-center">
    <div class="col-md-3 d-flex justify-content-around">
        <button *ngIf="inputs.length > 2" type="button" class="btn btn-dark" (click)="deleteInput()">Eliminar</button>
        <button *ngIf="inputs.length < 5 && !disabled" type="button" class="btn btn-dark" (click)="addInput()">Agregar</button>
        <button type="button" class="btn btn-dark" (click)="sendValues(number_form)">{{text_button}}</button>    
    </div>
</div>

<!-- pattern="^(\d*[1-9]+\d*\.?\d*|\d*\.\d*[1-9]+\d*)$" -->