<!-- <div id="algoritmo" style="padding: 25px; background-color: black;"></div> -->
<div class="container-fluid principal-container pt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="pb-4">
                <h4>Teoría</h4>
                <h6>MCD</h6>
                <p>
                    Cuando tenemos un grupo de <strong>n</strong> números y queremos saber si existe algún número que 
                    sea capaz de dividirlos a todos sin dejar residuo podemos hacer uso de varios métodos para poder
                    encontrar el MCD que por sus siglas es el Máximo Común Divisor. El MCD es el mayor número capaz de
                    dividir exactamente a un grupo de números. <br><br>
                </p>
                <h6>Parte de un división</h6>
                <p>
                    Antes de enseñarte cómo es que funciona el algoritmo de euclides, debes saber cuales son las partes
                    de una división ya que es indispensable para poder comprender este tema de buena manera.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center teory-container">
        <div class="col-md-2 mb-5">
            <div class="d-flex justify-content-center">
              <div class="divisor">
                <button type="button" class="btn btn-primary">d</button>
              </div>
              <div class="second">
                <div class="quotient">
                  <button type="button" class="btn btn-warning">q</button>
                </div>
                <div class="dividend">
                  <button type="button" class="btn btn-danger">D</button>
                </div>
                <div class="less">
                  <button type="button" class="btn btn-info">x</button>
                </div>
                <div class="remainder">
                  <button type="button" class="btn btn-success">r</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
        <div class="pb-4">
            <ul>
                <li>
                    <strong>Dividendo (D)</strong>
                    <p>Este es el número al cual vamos a dividir.</p>
                </li>
                <li>
                    <strong>Divisor (d)</strong>
                    <p>Es la cantidad de partes en las que vamos a dividir al dividendo.</p>
                </li>
                <li>
                    <strong>Cociente (q)</strong>
                    <p>Es el resultado de la operación, específicamente es el tamaño de cada parte en las que se dividió el dividendo</p>
                </li>
                <li>
                    <strong>Residuo (r)</strong>
                    <p>En las divisiones exactas es el sobrante de la operación, es decir, cuando el divisor ya no 
                    puede seguir dividiendo en partes iguales.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
