<div id="partes" style="padding: 28px;"></div>

<div class="container-fluid principal-container pt-5 pb-4">
  <div class="d-flex justify-content-center pb-4">
    <h2>Partes de la división</h2>
  </div>
  <div class="row align-items-center">
    <div class="col-md-5">
      <app-card [title]="'Cociente'" [description]="quotient_description" [color]="'#ffc107'"></app-card>
      <app-card [title]="'Divisor'" [description]="divisor_description" [color]="'#0d6efd'"></app-card>
    </div>
    <div class="col-md-2 mb-5">
      <div class="d-flex justify-content-center">
        <div class="divisor">
          <button type="button" class="btn btn-primary">d</button>
        </div>
        <div class="second">
          <div class="quotient">
            <button type="button" class="btn btn-warning">q</button>
          </div>
          <div class="dividend">
            <button type="button" class="btn btn-danger">D</button>
          </div>
          <div class="less">
            <button type="button" class="btn btn-info">x</button>
          </div>
          <div class="remainder">
            <button type="button" class="btn btn-success">r</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <app-card [title]="'Dividendo'" [description]="dividend_description" [color]="'#dc3545'"></app-card>
      <app-card [title]="'Residuo'" [description]="remainder_description" [color]="'#198754'"></app-card>
    </div>
  </div>
</div>